<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">
	<display-name>MusicServer</display-name>
	<context-param>
		<param-name>log4j-init-file</param-name>
		<param-value>/WEB-INF/classes/log4j.properties</param-value>
	</context-param>
	<servlet>
		<description>MusicServer</description>
		<display-name>MusicServer</display-name>
		<servlet-name>MusicServer</servlet-name>
		<servlet-class>cn.ljj.music.MusicServer</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MusicServer</servlet-name>
		<url-pattern>/private/*</url-pattern>
	</servlet-mapping>
	<servlet>
		<description>MusicShareSplashCenter</description>
		<display-name>MusicShareSplashCenter</display-name>
		<servlet-name>MusicShareSplashCenter</servlet-name>
		<servlet-class>cn.ljj.music.MusicShareSplashCenter</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MusicShareSplashCenter</servlet-name>
		<url-pattern>/splash/*</url-pattern>
	</servlet-mapping>
	<servlet>
		<description>MusicErrorPage</description>
		<display-name>MusicErrorPage</display-name>
		<servlet-name>MusicErrorPage</servlet-name>
		<servlet-class>cn.ljj.music.MusicErrorPage</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MusicErrorPage</servlet-name>
		<url-pattern>/error/*</url-pattern>
	</servlet-mapping>
</web-app>